.Home .lander {
    padding: 20px 0;
    text-align: center;
  }
  
  .Home .lander h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
  }
  
  .Home .lander p {
    color: #999;
  }